extends layout 

block content 
    h1= title 
    form(method='POST' action='')
        div.form-group 
            label(for="current_password") Current Password: 
            input#current_password.form-control(type="password" name="current_password" required=true value=(undefined===user ? '' : ''))
            label(for="new_password") New Password: 
            input#new_password.form-control(type="password" name="new_password" required=true value=(undefined===user ? '' : ''))
            label(for="confirm_password") Confirm Password: 
            input#confirm_password.form-control(type="password" name="confirm_password" required=true value=(undefined===user ? '' : ''))
        button.btn.btn-primary(type='submit') Change Password

    if errors 
        ul 
            for err in errors 
                li!=err.msg